# shitty basic test and removing the cache too, viewing pytests output
.pytest_cache/
test_test.py
test2_test.py

# egg info
ntest.egg-info/

# pycache
__pycache__/

# any mypyc build i may wanna do (which is dumb tho)
.mypy_cache/
build/