# remove cache for pytest
.pytest_cache/

# some tests
test_test.py
test2_test.py
renametodemo.py

# egg info
ntest.egg-info/

# pycache
__pycache__/

# any mypyc build i may wanna do (which is dumb tho)
.mypy_cache/
build/